/*----------------全站主要樣式--------------------*/
/*---作為開發使用時 import root.css 載入色彩變數 --*/
/*--- 正式上線 請使用CSSnext 轉為 一般CSS檔使用 ---*/
/*--- 包含外框、陰影、顏色、透明度---*/
/*----------------------------------------------*/
@import 'root.css';

a {
	color: var(--min-primary);
}

body {
	background-color: var(--bg-secondary);
	color: var(--font-dark);
}

/*標準色設定*/
.btn-primary{
	background: #ad8351!important;
	border-color: #ad8351!important;
}
.bg-primary{
	background: #ad8351!important;
}
#header #main-menu .control{
	background: #ad8351;
}
/*-------------------header---------------------*/
#header {
	background-color: var(--bg-primary);
	color: var(--font-dark);
}

#header .domain {
	color: var(--font-light);
}

#header .account-info {
	background: var(--highlight-secondary) none repeat scroll 0 0;
}

#header .account_img {
	background-color: var(--bg-secondary);
}

#header .account-info .account-notice .badge {
	color: var(--font-light);
}

#header .dropdown-menu .dropdown-item a {
	color: #6c757d;
}

.footer {
	background-color: var(--bg-menu-bottom);
	color: var(--font-menu-bottom);
}

.menuheader, .menuheader_menuadmin{
	background: #795548;
}
/*marqueebox*/
#header #main-menu,
.marqueebox {
	/*background-color: var(--font-dark);*/
	background-color: #422a1d;
}

.marqueebox .title {
	color: var(--font-light);
}

.marqueebox .marquee a {
	color: var(--font-light);
}

.marqueebox .marquee .js-marquee li span {
	color: #63d0b5;
}

/*----------元件_滑動選單-----------------------*/
/* 單一分類 寬度更改*/
.index_tabmenu>li.widthactive{
	width: 49%!important;
}

.index_tabmenu>li.active,
.index_tabmenu>li.active>a {
	background-color: var(--bg-primary) !important;
	border: 1px solid var(--bg-primary) !important;
	border-bottom-color: var(--bg-primary) !important;
}

.swiper-slide {
	background: var(--highlight-secondary);
}

.swiper-container #gNavi li a {
	color: var(--bg-secondary);
}

.swiper-container #gNavi li a.active {
	color: #fedb29;
}

.swiper-container #gNavi li.active a {
	color: #fedb29;
}

/*----------元件_遊戲項目-----------------------*/
.gameitem {
	background-color: var(--font-menu-bottom) !important;
	border: 2px var(--highlight-secondary) solid !important;
}

#casinotab{
	padding-top: 10px;
	padding-bottom: 5px;
}

#index .gameitem {
	border-radius: 10px;
}

/*----------page_#index-----------------------*/
#index .index_m_title {
	background-color: var(--bg-primary);
	opacity: .8;
}

#index .index_m_title.h5,
#index .index_m_title h5 {
	color: var(--font-menu-bottom);
}
#main .index_m_title a{
	color: #fff;
}
/*----------page_#gamelobby-----------------------*/
#gamelobby #casinotab #gamesel a {
	color: var(--bg-primary);
}

#gamelobby #casinotab.nav>li.active>a {
	background: #7c4d37 !important;
	border: 2px solid #7c4d37 !important;
	color: var(--font-menu-bottom) !important;
}

#gamelobby .input-group>.input-group-append>.btn {
	background-color: var(--highlight-secondary);
	color: #fff;
}

#gamelobby .nav-pills .nav-link {
	border: 2px var(--bg-primary) solid;
}

#gamelobby .gamesel {
	color: var(--bg-primary) !important;
}
#collapsemenu{
	background-color: #27160d;
}
#collapsemenu *{
    color: #fff;
}
#gamelobby #collapsemenu .items span.selected {
	background-color: #c29866;
}
/*----------header_logo變化-----------------------*/
.navbar-brand .logo {
	background: url(../img/common/logo.png) no-repeat left center;
	width: 100px;
	min-height: 50px;
	background-size: 100px;
}

/*#admin .navbar-brand .logo {
	background: url(../img/common/logo_company.png) no-repeat left center;
	width: 100px;
	min-height: 50px;
	background-size: 50px;
}*/

/*下拉選單區塊顏色*/
.navblock .nbox {
	background-color: #755b4b;
}
/*------------會員中心----------------------------*/
/* #main a div,#main li a{
 color:var(--font-dark);
}
#main a i{
	color: var(--font-dark);
}
#main a{
	color: var(--font-dark);
} */
/*會員圖像*/
.membercenter .glyphicon{
	color:var(--yellow);
	border-color:var(--yellow);
}
/*------------登入-----------------*/
#login .card-body h3.login2-pc-m-h3{
	color: #333;
	text-shadow: none;
}
/*標題 黑色header*/
#main .menuheader a i{
	color: #FFF;
}
#login .card-body input{
	background: #563726;
}
/*------------財務中心---------------*/
#main a .deposit_menu_icon span i,
#main li.deposit_menu_icon a span i{
	color: #FFF;
}
#main a .deposit_icon_btn i{
	color: #cccccc;
}
#main a.deposit_status_btn{
	color: #FFF;
}
#main a.btn-primary{
	color: #FFF;
}
/*------------文字顏色---------------*/
.table_from4 td:nth-child(4),
.table.table_from4 td:nth-child(3),
#announcementmodaldetail,
.modal_contentstyle.modal-content h6,
.table_form2 th,
.table_form2 td,
#moa_betlog .modal-body table td,
.moa_betlog_table th,
.table_from6 td,
.table.table_from4 td:nth-child(1),
#register table tr th,
#login .card-body h3.login2-pc-m-h3,
#member_list_wrapper table.dataTable thead th,
#linkDataTable.table.table_liststyle tbody tr td,
.table.table_liststyle th, 
.table.table_liststyle thead tr th,
.spread_add_style >div:nth-child(1), 
.member_table tr th,
.deposit_p_content p span, 
.deposit_p p span,
.modal_contentstyle .modal-time,
.table.stationmail_list td{
	color: #333;
}
#main .deposit_company_send a {
	color: #FFF;
}
#main a div.deposit_icon_title div p{
	color: #828282;
}
#main .nav-headerbutton a.active,
.nav-headerbutton input:checked ~ div.active_border,
.nav-headerbutton a.active, 
.nav-headerbutton.nav-tabs .nav-link.active{
	border-color: #c39d6d;
	color: #c39d6d;
	border-top:0;
}
#index .infommobile-lb2 span,
.nav-headerbutton input:checked + label,
.deposit_company_input input:checked + label{
	color: #563726;
}
/* ------------------- 文字 ------------------- */
.agent_ins h3{
	color:#c29866;
}
#main .footer .menu-bottom .col a{
	color: #d1aa95;
}
.fave-heart span::before{
	color: #FFF!important;
}
.fave-heart span::before,
.fave-heart-full span::before{
	color: #563726!important;
}
#gamelobby #casinotab li a,
.info-lb2 span,
.gamename_desc{
	color: #563726;
}
/* 黑色 */
.deposit_color,
#deposit_review_data,
.description_deposit,
.deposit_company_title_2,
.deposit_company_step_text,
.deposit_company_bg ul li label,
.deposit_company_bg ul li label a,
.modal-title,
.modal_contentstyle.modal-content .modal-body,
.nav-headerbutton a,
#announcementmodaldetail,
.modal_contentstyle.modal-content h6,
.announcement_time,
#testArea .table_form2 td .col-1,
.announcement_title,
.img_iocn_menu p,
.img_icon i,
.member_mobile_menu_s li a,
.img_icon a p,
.img_icon a i,
.member_mobile_menu li a,
.deposit_icon_title,
.member_mobile_menu.style_deposit li a i.fa-chevron-right,
.member_mobile_menu.style_deposit li a p{
	color: #333;
}
#announcementTitle.modal-title{
 color: #FFF;
}
#index .infommobile-lb2 span,
.nav-headerbutton input:checked + label,
.deposit_company_input input:checked + label{
	color: #9f6343;
}
/* ------------------- 線條 ------------------- */
#casinotab li{
	border-color: #563726;
}

.index_tabmenu>li{
	border-color:#c29866;
}
#game-exposure .gameitem{
	border-color:#d93730!important;
}
#index .infommobile-lb2{
	border-color: #c1937a;
}
/* ------------------- 背景 ------------------- */
#game-exposure-container,
#game-exposure .swiper-slide{
	background: none;
}
#announcementFooter .btn,
#announcementModal .modal-header{
	background: #563726;
	color: #FFF;
}
#gamelobby #casinotab li.active{
	background: #7c4d37;
}
/* ------------------- 按鈕 ------------------- */
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover{
	background: #ad8351;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus{
	box-shadow: none;
}
/* 推薦遊戲背景 */
#game-recommend-container {
	background: linear-gradient(to right, #f1e9e0 0%,#e1ceba 7%,#e1ceba 16%,#e1ceba 51%,#e1ceba 87%,#e1ceba 94%,#f1e9e0 100%);
}
.gamename_content,
.gamelike_content div.falike span{
	color: #563726;
}
.gamelike_content{
	border-color: #c29866;
}
.gamelike_content div, .falike{
	color: #563726;
}
.gamelike_content div.falike{
	background: #c29866;
}
.falike:after{
	border-color: transparent transparent #c29866 transparent;
}
/* gamelobby.php */
.active_callout {
    background: rgb(209, 170, 149);
}
.alert_gameblackmhot i,
.alert_gameblackm i {
    color: #b18e7c;
}
.alert_gameblackmhot i,
.alert_gameblackm p {
    color: #7b6f68;
}