/*----------------全站主要樣式--------------------*/

/*---作為開發使用時 import root.css 載入色彩變數 --*/

/*--- 正式上線 請使用CSSnext 轉為 一般CSS檔使用 ---*/

/*--- 包含外框、陰影、顏色、透明度---*/

/*----------------------------------------------*/

@import 'root.css';
a, a:hover {
	color: unset;
}

body {
	font-family: "Microsoft YaHei";
	background-color: #eee;
	color: var(--font-dark);
}

/*
body#index,body#gamelobby {
	background-color:#eee;
}*/

/*
body#gamelobby,
body#index{
	background-color: #FFFFFF; 
}

body#login {
	background-color: #FFFFFF;
}*/

#index #gametable_game,
#index #gametable_Fishing,
#index #gametable_Live,
#index #gametable_Lottery {
	padding: 0;
}

/*bootstrap 基本色*/
.btn-primary, .btn-primary:hover {
	background-color: #EF6E32;
	border-color: #EF6E32;
	color: #FFF;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover,
.btn-primary.disabled, 
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus{
	background-color: #EF6E32!important;
	border-color: #EF6E32;
	color: #FFF;
	box-shadow: 0 0 0 0.2rem rgba(195, 157, 109, 0.5);
}

.btn-primary.btn.focus, .btn-primary.btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(195, 157, 109, 0.5);
}

/*原本藍色改主色*/
.bg-primary {
	background: #ef6e32!important;
}

/*原本藍色改主色*/

.text-primary {
	color: #EA073F!important;
}

a.text-primary:focus, a.text-primary:hover, a.text-primary:focus, a.text-primary:hover {
	color: #EA073F!important;
}

/*原本灰色改淡色灰*/

.btn-secondary {
	background: #b1b1b1;
	border-color: #b1b1b1;
}

/*原本灰色改淡色灰*/

.border-secondary {
	border-color: #eaeaea!important;
}

/*bootstrap*/

.form-control:disabled, .form-control[readonly] {
	background: #e0e0e0;
	color: #939393;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-control:focus {
	border-color: #e0e0e0;
}

.bg-secondary {
	background: #b1b1b1!important;
}

.m-border-bottom {
	border-bottom: solid 1px #ddd;
}

.member_m_text {
	display: inline-block;
	color: #FFF;
	vertical-align: middle;
}

.member_m_text p {
	position: relative;
	margin-bottom: 5px;
	color: #838383;
}

.member_m_text p:last-child {
	margin: 0;
}

.member_m_text p a.glyphicon {
	width: 20px;
	height: 20px;
	font-size: 12px;
	border: 0;
	position: absolute;
	right: -8px;
	top: -8px;
}

.card-header:first-child {
	border-radius: 0;
}

.head-btn-sec {
	background-color: #DD2D6D;
}

/*-----------------------共用設定----------------*/

/*陰影*/

.nav-headerbutton, .stationmail_list tr, .table.table_from4 tr, .table_from4 tr, .table_from6 tr, .li_list li, .div_from2input, .table_form2 tr, .table.table_liststyle tr, table.dataTable.table_liststyle tbody tr, table.dataTable.table_liststyle thead tr {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12156862745098039);
}

/*文字顏色 - 內文 #999999*/

.announcement i, .promotions_detail time, .table.table_from4 td, .table_from4 td, .table_from6 td {
	color: #999999;
}

/*文字顏色 - 標題已讀與未讀*/

.stationmail_list tr td p {
	color: #575656;
}

/*文字顏色 - 標題 #666666*/

.announcement_title, .stationmail_list tr td p, .table_from6 td:nth-child(1), .table.table_from4 td:nth-child(1), .table_from4 td:nth-child(1) {
	color: #666666;
}

/*文字顏色 - 功能 #cccccc*/

.btn-outline-secondary:hover, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active, .stationmail_input td label, .btn-outline-secondary {
	color: #939393;
}

/*線條框 - 功能 #cccccc*/

.btn-outline-secondary:hover, .btn-outline-secondary, .btn-outline-secondary:not(:disabled):not(.disabled):active {
	border-color: #939393;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:hover {
	background: none;
	box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

/*標題 黑色header*/

.menuheader, .menuheader_menuadmin {
	/*background: #434343;*/
	color: #FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#be0070+0,5b158c+100 */
	background: #be0070;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #be0070 0%, #5b158c 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #be0070 0%, #5b158c 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #be0070 0%, #5b158c 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be0070', endColorstr='#5b158c', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

/*內文標題顏色*/

#stationmail_mail td h6 {
	color: #545353;
}

/*內文顏色*/

#stationmail_mail td .detail {
	color: #8c8c8c;
}

/*寬度100貼齊上方的header按鈕*/
.nav-headerbutton input:checked + label,
.nav-headerbutton a.active, 
.nav-headerbutton.nav-tabs 
.nav-link.active {
	color: #E43977;
}
.nav-headerbutton input:checked ~ div.active_border,
.nav-headerbutton a.active,
.nav-headerbutton.nav-tabs 
.nav-link.active {
	border-bottom: 2px solid #E43977;
}

/*共用按鈕 - 送出*/

.table_form2 th {
	background: #FFF;
}

.table_form2 td {
	background: #f8f8f8;
}

/*共用div - 類似表格兩欄式 div_from2*/

.div_from2>div, .div_from2input>div:nth-child(1) {
	padding: 12px 0 12px 8px;
}

.div_from2>div:nth-child(1), .div_from2input>div:nth-child(1), .div_from2>div:nth-child(2) {
	background: #FFF;
}

.div_from2input>div input[type=text]::placeholder, .div_from2input>div input[type=password]::placeholder {
	color: #a4a2a2;
}

.send_btn {
	border: 0;
}

.send_btn:disabled, .send_btn button[disabled] {
	color: #949494;
}

button.send_btn:focus {
	outline-color: #cccccc;
}

/*ann*/

#announcementModal .modal-header, #announcementModal .close {
	background-color: #EA1340;
	color: #fff;
}

/*-------------------header---------------------*/

#header {
	/*background: #222 url(../img/common/promotion_bg2.jpg) repeat fixed top;
	color: var(--font-dark);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,d6d6d7+98,d6d6d7+100 */
	background: #fefefe;
	/* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #d6d6d7 98%, #d6d6d7 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fefefe 0%, #d6d6d7 98%, #d6d6d7 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fefefe 0%, #d6d6d7 98%, #d6d6d7 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d6d6d7', GradientType=0);
	/* IE6-9 */
}

/*#header .navbar {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .5);
}*/

#header .navbar-toggler {
	color: #676978;
	border: 1px solid #676978;
}

#header .domain {
	color: var(--font-light);
}

#header .account-info {
	background: #c39d6d none repeat scroll 0 0;
}

#header .account_img {
	background-color: #eee;
}

#header .account_img span {
	color: #c39d6d;
}

#header .account_img span {
	color: #c39d6d;
}

#header .navbar-collapse {
	background-color: #333;
}

#header .account-info .account-notice .badge {
	color: var(--font-light);
}

#header .account-info .account-notice>a {
	color: #633333;
}

#header .account-info .media-body {
	color: #fff;
}

#header .dropdown-menu .dropdown-item a {
	color: #6c757d;
}

.membercenter span {
	color: #5a5966;
	border: #5a5966 2px solid;
}

/*---------------mainmenu----------------*/

#header #menu-block {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	background-color: #0000004d;
	position: fixed;
	z-index: 998;
}

#header #main-menu {
	top: 0;
	right: -70vw;
	width: 45vw;
	height: 100vh;
	overflow: auto;
	background-color: #EA073F;
	position: fixed;
	z-index: 999;
}

#header #main-menu .control {
	background-color: #FFFFFF;
	color: #fff;
	padding: 10px 15px;
}

#header #main-menu .control .navbar-toggler {
	color: #EA1340;
	border-color: #EA1340;
}

#header #main-menu .menu-list>a {
	display: flex;
	color: #fff;
	padding: 15px;
	border: #F6527A .5px solid;
}

#header #main-menu .menu-list>a.hot {
	background: #FEC007;
}

#header #main-menu .menu-list a .icon {
	margin-right: .5em;
}

/*語系選單調整*/

.menu-list .btn-secondary {
	background: transparent;
	border: 0;
}

/*語系選單的文字顏色*/

#header #main-menu .menu-list .dropdown-menu a {
	color: var(--font-dark);
}

#header #main-menu .menu-list .dropdown {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

#header #main-menu .menu-list .dropdown .btn {
	padding-left: 0;
	width: 100%;
	text-align: left;
}

/*顯示mobile語系的星球icon*/

.mobile_language {
	color: #FFF;
	display: inline-block;
	padding: 15px 0 15px 15px;
	vertical-align: middle;
	margin-right: 5px;
}

#header #main-menu .menu-list .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	background: none;
	border: 0;
	box-shadow: none;
}

.dropdown-menu {
	border: 0;
}

.show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
}

#main-menu .sidermenu-icon .message-alert:after {
	background-color: transparent;
}

#main-menu .sidermenu-icon {
	text-align: center;
}

#main-menu .sidermenu-icon span {
	color: #FF235A;
	border: #FF235A 2px solid;
	width: 15vw;
	height: 15vw;
	text-align: center;
	border-radius: 100%;
	padding: 5px;
	font-size: 10vw;
}

/*
#main-menu .balance-area span {
	right: 7px;
	top: 6px;
}
*/

#header #submit_reload_balance, #header #submit_reload_balance .badge {
	width: 100%;
}

#header #submit_reload_balance .badge {
	border-radius: 50rem!important;
	padding: .4em;
}

#main-menu .sidermenu-balance .text-bar {
	background-color: #FF8929;
}

.lock-scroll {
	overflow: hidden;
}

/*------footer---------------*/

.footer {
	/*background-color: var(--bg-menu-bottom);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cdcdcf+90 */
	background: #ffffff;
	/* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #cdcdcf 90%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%, #cdcdcf 90%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%, #cdcdcf 90%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcf', GradientType=0);
	/* IE6-9 */
	color: var(--font-menu-bottom);
	box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, .2);
	padding: 0;
}

.footer .menu-bottom .col {
	padding: 10px 8px;
	border-right: #C0C0C2 1px solid;
	border-left: #eee 1px solid;
}

/*marqueebox*/

.marqueebox {
	background-color: #EA073F;
}

.marqueebox .title {
	color: #FFFFFF;
	position: absolute;
	top: 2px;
}

.marqueebox .marquee a {
	color: var(--font-light);
}

.marqueebox .marquee .js-marquee li span {
	color: #fff;
}

/*--------------------有連結----------*/

.table_link tr td:first-child {
	color: #c39d6d;
}

.table_link tr td:first-child h6 {
	color: #000;
}

/*標題顏色*/

.announcement_title, .li_list_link h6 {
	color: #666666;
}

/*內文顏色*/

time, .li_list li a time, .announcement_time {
	color: #999999;
}

/*----------元件_滑動選單-----------------------*/

/*.index_tabmenu>li.active,
.index_tabmenu>li.active>a {
	background-color: #EA073F !important;
	border: 1px solid #EA073F !important;
	border-bottom-color: #EA073F !important;
	color: #fff;
}*/

.index_tabmenu>li.active:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8.5px 15.0px 8.5px;
	border-color: transparent transparent #fefefe transparent;
	position: absolute;
	bottom: -10px;
	left: calc(50% - 8.5px);
}

#mainct .index_tabmenu>li.active:after {
	border-color: transparent transparent #ea073f transparent;
}

.swiper-slide {
	background: transparent;
	border: 0px;
	/*box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);*/
}

#mainct {
	background-color: #fff;
}

#mainctag {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#be0070+0,5b158c+100 */
	background: #be0070;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #be0070 0%, #5b158c 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #be0070 0%, #5b158c 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #be0070 0%, #5b158c 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be0070', endColorstr='#5b158c', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.swiper-container #gNavi li a {
	color: #fff;
	padding: 65px 0 0px;
	border-radius: .5em;
}

#mainct .swiper-container #gNavi li a {
	color: #EA073F;
}

.swiper-container #gNavi li.active a {
	color: #fff;
}

#mainctag {
	padding: 0;
	margin: 0;
}

.index_tabmenu {
	background-color: transparent;
	padding: 10px 0;
}

.index_tabmenu li {
	height: 85px;
	border-radius: .5em;
}

/*
.swiper-container #gNavi li.active a {
	color: var(--highlight);
}*/

.swiper-container #gNavi li a::before {
	content: url("../img/common/slotgame.png");
	top: 2px;
	left: calc(50% - 32px);
}

.swiper-container #gNavi li.navi_hot a::before {
	content: url("../img/common/hotgame.png");
}

.swiper-container #gNavi li.navi_game a::before {
	content: url("../img/common/slotgame.png");
}

.swiper-container #gNavi li.navi_Live a::before {
	content: url("../img/common/liveslot.png");
}

.swiper-container #gNavi li.navi_Lottery a::before {
	content: url("../img/common/lottery.png");
}

.swiper-container #gNavi li.navi_Fishing a::before {
	content: url("../img/common/fishgame.png");
}
.swiper-container #gNavi li.navi_Chessboard a::before {
	content: url("../img/common/boardgame.png");
}
.swiper-container #gNavi li.navi_Sport a::before {
	content: url("../img/common/sportgame.png");
}
#mainct, #mainctag {
	margin-top: 0;
}

#banner {
	padding: 0;
}

/*----------元件_遊戲項目-----------------------*/
.fave-heart-full span::before{
	color: #ea073f;
}
.info-lb2 .label{
	color: #ea073f;
}
.gameitem {
	background-color: #ea073f !important;
	border-radius: .5em;
	color: #fff;
	/*border: 2px var(--highlight-secondary) solid !important;*/
}

body#gamelobby .gameitem {
	background-color: #ddd !important;
	color: #333;
	border: 1px #ccc solid;
	/*border: 2px var(--highlight-secondary) solid !important;*/
}

.info-lb2 .label {
	color: #fff;
}

#index .gameitem {
	border-radius: 10px;
}

.index_tabmenu li {
	background-color: transparent;
}

#index .index_m_title {
	background-color: transparent;
}

/*----------page_#index-----------------------*/

#index .index_m_title {
	/*box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);*/
	border-left: 0px solid #f6ac67;
}

#index .index_m_title.h5, #index .index_m_title h5 {
	color: #fff;
	margin: 15px 0px 5px 0px;
	padding: 0px;
	border-bottom: 1px solid #eee;
}

.h5-gametag {
	background-color: #fff;
	color: #ea073f;
	padding: 0 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.index_m_title_more a {
	color: #eee !important;
}

#index .tab-content {
	background: #ea073f;
}

/*----------page_#gamelobby-----------------------*/

#mainct {
	margin-bottom: 0px;
}

#gamelobby #casinotab #gamesel a {
	color: #333;
}

#gamelobby #casinotab.nav>li {
	border-radius: .25em;
}

#gamelobby #casinotab.nav>li.active>a {
	background: #ea073f !important;
	border: 2px solid #ea073f !important;
	color: #fff !important;
}

#gamelobby .input-group>.input-group-append>.btn {
	background-color: var(--highlight-secondary);
	color: #fff;
}

#gamelobby .nav-pills .nav-link {
	border: 2px #a7a7a7 solid;
	color: #333;
}

#gamelobby .gamesel {
	color: #333 !important;
}

#gamelobby .items span.selected {
	color: #fff;
}

#gamelobby .select {
	background-color: var(--bg-primary);
}

#gamelobby .gameitem-content {
	background: rgba(90, 58, 58, 0.9);
}

#gamelobby-option {
	margin-right: -10px;
	margin-left: -10px;
	padding: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+30,d5d5d9+100 */
	background: #fefefe;
	/* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 30%, #d5d5d9 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fefefe 30%, #d5d5d9 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fefefe 30%, #d5d5d9 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d5d5d9', GradientType=0);
	/* IE6-9 */
}

#gamelobby #gametable {
	padding: 10px;
}

.fave-mobile span::before, .fave-heart span::before {
	color: #EA073F !important;
}
#gamelobby .info-lb2 .label{
	color: #ea073f;
}
#collapsemenu{
	background-color: #ea073f;
}
#collapsemenu *{
	color: #fff;
}
#collapsemenu .items span{
	background-color: rgba(0, 0, 0, 0.05);
}
/**/

#static #main h2, #static #main h3 {
	color: var(--bg-primary);
}

#static .pages {
	background-color: #fff !important;
	border: 1px solid #999 !important;
}

/*----------header_logo變化-----------------------*/

.navbar-brand .logo {
	background: url(../img/common/logo.png) no-repeat left center;
	width: 100px;
	min-height: 50px;
	background-size: 100px;
}

#admin .navbar-brand .logo {
	background: unset;
}

/*
#admin .navbar-brand .logo::before {
	width: 100px;
	min-height: 50px;
	background-size: 100px;
	position: absolute;
	content: "会员中心";
	top: calc(50% - 10px);
	text-align: center;
}*/

#admin .navbar-brand .logo::before {
	content: "";
	background: url(../img/common/logo.png) no-repeat 0;
	background-size: 100px;
	min-height: 50px;
	width: 100px;
	top: 0;
}

/*下拉選單區塊顏色*/

.navblock .nbox {
	background-color: #222222;
}

/*------------會員中心----------------*/

/*代理中心 - 會員管理*/

@media (min-width: 576px) {
	.container {
		max-width: 100%;
	}
}

#member_list_wrapper table.dataTable thead th {
	border: 0!important;
}

.sorting_1 {
	color: #FF6600;
}

table.dataTable.no-footer {
	border: 0!important;
}

.border-bottom {
	font-size: 14px;
	font-weight: normal;
	color: #333;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: #e7e7e7 5px solid!important;
	font-weight: normal!important;
	color: #333!important;
}

#member_list_wrapper table.dataTable.m_management tbody th, #member_list_wrapper table.dataTable.m_management tbody td {
	padding: 15px;
	font-size: 14px;
}

/*#main .card-body{
padding-top: 0;
}*/

.col-sm-12 {
	padding: 0;
}

/*代理中心 - 會員管理 - 頁碼*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 0!important;
	background: none!important;
}

#main .col-sm-12.col-md-7 {
	display: none!important;
}

/*會員圖像*/

/*
.col-auto.my-auto {
	border: #333 solid 3px;
	border-radius: 100%;
	font-size: 27px;
	width: 50px;
	height: 50px;
	position: relative;
}*/

.col-auto.my-auto span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pl-2, .px-2 {
	padding: 0px 15px 15px 15px!important;
}

.row.py-2 {
	padding: 0px 0px 20px 0px!important;
	margin: 0;
}

.row.py-2 .col-3 {
	padding: 0;
	text-align: center;
	max-width: 100%!important;
}

.pb-2, .py-2 {
	padding-bottom: 0.3rem!important;
}

.text-center.pb-2 {
	text-align: center;
	display: inline-block;
	position: relative;
}

.text-center.pb-2 a {
	display: block;
}

.text-center.pb-2 i {
	font-size: 29px;
	padding-top: 9px;
	margin-bottom: 0.3rem;
}

.account-notice .notice_unread:before, .account-notice .notice_receiv:before {
	font-size: 33px;
	display: block;
	position: relative;
}

.account-notice .badge {
	position: absolute;
}

/*註銷*/

#btn-logout {
	width: 264px;
	max-width: 90%;
	margin: 22px auto;
	font-size: 16px;
	background: var(--gray);
	color: #FFF;
	text-shadow: 1px 1px 5px var(--dark);
	border-radius: 27px;
}

/*提款UI*/

#main .card.mb-2 .h5.col-3 {
	font-size: 14px;
	margin-bottom: 0;
}

#gtoken_b .h5.col-3 {
	margin-bottom: 0;
}

#gtoken_b .h5.col-3 p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#main .row.success.h4.px-4.mb-3 {
	font-size: 14px;
}

#main .text-danger {
	width: 21vw;
	display: inline-block;
	line-height: 18px;
	text-align: right;
}

/*-------------註冊頁面---------------*/

.register_pc_m {
	background: none;
	padding: 0;
	border-radius: 0;
}

#member {
	background-color: #fff;
}

#register table th p {
	color: #fff;
}

#register p a {
	color: #ffc107;
}

#register table th {
	color: #333;
}

#register table th i {
	color: #dc3545;
}

#register table input, #register table tr td select {
	background: #DDDCE3;
	border: solid 0px #6c757d;
	color: #6c757d;
}

#register table tr td select {
	color: #a3a3a3;
}

.checkbox label {
	color: #333;
}

#register .checkbox button {
	background: none;
	border: 0;
	color: #dc3545;
}

/*

#member .card,#member .card-header{
	background: none!important;
}
#member .card-header{
	text-align: center;	
	color: #fff;
}
#member table th{
  color: #fff;
  border: 0;
  vertical-align: middle;
  padding-left: 23px;
  width: 100%;
  min-width: 100%;
  font-size: 14px;	
  box-sizing: border-box;
  display: block;	
}
#member table td{
  box-sizing: border-box;
  width: 100%;
  display: block;	
}
#member .checkbox{
	padding-left: 0;	
}
#submit_to_register_result ~ .row  a{
	color: #FFF;
}

.register_pc_m .show_captcha_css{
  top: 50%;
  transform: translateY(-50%);
  right:10px;
}*/

/*------會員登入------*/

#login .card-body input {
	color: #eee;
	background: #FF8929;
	border-radius: 22px;
	border: solid 0px #6c757d;
}

#login .card-body input:-webkit-autofill, #login .card-body input:-webkit-autofill:hover, #login .card-body input:-webkit-autofill:focus, #login .card-body input:-webkit-autofill:active {
	background: #FF8929;
	-webkit-text-fill-color: #eee;
	-webkit-box-shadow: 0 0 0px 1000px #FF8929 inset;
}

#login .card-body .form-group>label {
	top: 13px;
	left: 13px;
}

@media screen and (max-height:840px) {
	.card.register_pc_m {
		position: relative;
		margin-top: 2% auto;
		left: auto;
		top: auto;
	}
}

#login .card-body h3.login2-pc-m-h3 {
	color: #EA073F;
	font-weight: bold;
	text-shadow: none;
}

#login .card-body .btn.btn-primary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7497+0,ff0343+100 */
	background: #ff7497;
	/* Old browsers */
	background: -moz-linear-gradient(left, #ff7497 0%, #ff0343 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff7497 0%, #ff0343 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff7497 0%, #ff0343 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7497', endColorstr='#ff0343', GradientType=1);
	/* IE6-9 */
}

/*------站內信------*/

.modal_contentstyle .modal-time {
	color: #939393;
}

.navstyle a {
	background: #b1b1b1;
	color: #FFF;
}

.navstyle a.btn-secondary:not(:disabled):not(.disabled).active:focus, .navstyle a.btn-secondary:not(:disabled):not(.disabled):active:focus, .navstyle a.show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
}

.navstyle a.btn-secondary:not(:disabled):not(.disabled).active, .navstyle a.btn-secondary:not(:disabled):not(.disabled):active, .navstyle a.show>.btn-secondary.dropdown-toggle {
	background: #FFF;
	color: #495057;
}

#stationmail_mail .table_list tr {
	background: #FFF;
	border-color: #eeeeee;
}

/*------交易明細------*/

#motransaction_log .table-mb-3 {
	margin-bottom: 0;
}

.table .thead-light th {
	background: #b1b1b1;
	color: #FFF;
}

/*#filter_select table tr td,
#cash_filter table tr td,
#date_select table tr td{
	font-size: 1.16rem;
}*/

/*------邀請碼------*/

.spread_add_bg>div:nth-child(1) {
	background: #FFF;
}

.spread_add_bg div:nth-child(2) {
	background: #f8f8f8;
}

.spread_add_bg>div:nth-child(2) select, .spread_add_bg>div:nth-child(2) input[type="text"] {
	background: #f8f8f8;
}

.card-header a.spread_color_bt, .card-header span.spread_color_bt {
	color: #FFF;
}

#linkDataTableBody td h6 {
	color: #c39d6d;
}

.spread_add_bg input[type=password] {
	background: #f8f8f8;
}

/*---------安全中心----------*/

/*---------個人訊息----------*/

.member_table tr th {
	background: #FFF;
}

.member_table tr td {
	background: #f8f8f8;
}

/*---------圓弧樣式----------*/

/*.member_time_style {
	width: 100%;
}
*/
.arc_style tr td:nth-child(1) {
	background: #FFF;
}

.arc_style tr td:nth-child(2) {
	background: #f8f8f8;
}

.arc_style tr td input, .arc_style tr td select {
	background: #f8f8f8;
}

/*---------會員管理----------*/

#rg_odds_table a:hover {
	text-decoration: none;
	color: #FFF;
}

#rg_odds_table.btn-secondary:not(:disabled):not(.disabled).active, #rg_odds_table.btn-secondary:not(:disabled):not(.disabled):active, #rg_odds_table.show>.btn-secondary.dropdown-toggle {
	background-color: #b1b1b1;
	border-color: #b1b1b1;
	text-decoration: none;
	color: #FFF;
}

#rg_odds_table.btn-link.focus, #rg_odds_table.btn-link:focus {
	text-decoration: none;
	color: #FFF;
}

/*---------暫時補救----------*/

/*已經設定好的- 會被影響的部分*/

/*#transactionDataTable.table.dataTable tbody tr{
  background: none!important;
}*/

#transactionDataTable.table.dataTable tbody tr.table_bg {
	background: #FFF!important;
}

/*暫時補救 - 財務中心*/

.bg-secondary2 {
	background: #dedede!important;
	color: #000;
}

/*說明*/

.prompt_btn {
	color: #c39d6d;
	display: inline-block;
	background: none;
	border: 0;
}

button.prompt_btn:focus {
	outline: none;
}

#main .footer .menu-bottom .col a{
	color: #5a5967;
}
/* 移除共用被影響的樣式 */
.index_tabmenu>li{
 border:0;
}
/* --------------- 線條 --------------- */
body#gamelobby #game-exposure-container .gameitem{
	border-color: #d93730;
}
/* --------------- 文字 --------------- */
#casinotab li a{
	color: #333;
}
/* --------------- 按鈕 --------------- */
.authentication_send{
	background-color: #ef6e32;
    border-color: #ef6e32;
}
.infommobile-lb2{
	width: 80%;
	left: 50%;
	transform: translateX(-50%);	
}
#index .infommobile-lb2{
	border-color: #fa6187;
}
#index .infommobile-lb2 span{
	color:#ff85a3;
}
/* 推薦遊戲 */
#game-recommend-container{
	margin-top: 0;
	background: linear-gradient(to right, #eeeeee 0%,#dddddd 7%,#dddddd 16%,#dddddd 51%,#dddddd 87%,#dddddd 94%,#eeeeee 100%);
	box-shadow: none;	
}
.gamename_content{
	color: #333;
}
.browse_title{
	background: #ea073f;
}
.go_game{
	text-indent: -999999px;
	opacity: 0;
}
/* gamelobby.php */
.active_callout {
    background: rgba(177, 177, 177, 0.52);
}
.alert_gameblackmhot i,
.alert_gameblackm i {
    color: rgba(138, 138, 138, 0.47);
}
.alert_gameblackmhot p,
.alert_gameblackm p {
    color: rgba(3, 3, 3, 0.44);
}