/*
----------------------------------------------------------------------------
// Features:	顏色、圖片相關CSS集中至本檔
// File Name:	root.css
// ----------------------------------------------------------------------------
*/

:root {
	/*固定項目：主要色調決定是深底色或暗底色*/
	--header-bg: #222222;
	--header-font: #f1e9e0;
	--account-bg: #005200;
	--account-title: #222222;
	--account-font: #ffffff;
	--main-bg: ;
	--main-font: ;
	--footer-bg: #222222;
	--footer-font: #95ff67;
	--highlight: #f1e9e0;
	--link: #95ff67;
	--hover: #95ff67;
	--marqueebox-bg: #222222;
	--marqueebox-icon: #f1e9e0;
	--marqueebox-title: #63d0b5;
	--marqueebox-font: #f1e9e0;
	--gameitem-bg: ;
	--gameitem-border: ;
	--gameitem-font: ;
	/*擴展項目：*/
	--font-dark: #222222;
	--font-light: #ffffff;
	/*深色背景通用*/
	/*淺色背景通用*/
	/*font*/
	--font-dark: #222222;
	--font-light: #f1e9e0;
	/*識別色*/
	--min-primary: #d6a94e;
	--min-secondary: #c39d6d;
	--min-third: ;
	/*--highlight*/
	--highlight-primary: #95ff67;
	--highlight-secondary: ##95ff67;
	--highlight-third: #95ff67;
	/*背景  由深到淺*/
	--bg-primary: #005200;
	--bg-secondary: #333333;
	--bg-third: ;
	/*底層選單*/
	--font-menu-bottom: #eeeeee;
	--bg-menu-bottom: #222222;
	/*links*/
	/*共同色*/
}